@page
@model Pizza_Proj.Pages.OrderConfirmationModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<h2>@ViewData["Title"]</h2>

<p>Order ID: @Model.OrderId</p>
<p>Amount: @Model.Amount</p>
<p>Pizza Type: @Model.PizzaType</p>